<%= form_for(status) do |f| %>
  <div class="card">
    <% if status.errors.any? %>
      <div class="card-header bg-danger text-white">
        <%= pluralize(status.errors.count, "error") %> prohibited this status from being saved:
      </div>
      <div class="card-body">
        <ul>
        <% status.errors.full_messages.each do |message| %>
          <li class="card-text"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  
  <form>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </form>
<% end %>
