<%= form_for(species) do |f| %>
  <div class="card">
    <% if species.errors.any? %>
      <div class="card-header bg-danger text-white">
        <%= pluralize(species.errors.count, "error") %> prohibited this species from being saved:
      </div>
      <div class="card-body">
        <ul>
        <% species.errors.full_messages.each do |message| %>
          <li class="card-text"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  
  <form>
    <div class="form-group">
      <%= f.label :stock_type %>
      <%= f.collection_select :stock_type_id, StockType.order('name ASC').where("user_id = " + (current_user.id.to_s if current_user)), :id, :name, {id: :livestock_stock_type}, {class: "form-control"}%>
    </div>
    
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  
    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </form>
<% end %>
