<%= form_for(livestock) do |f| %>
  <% if livestock.errors.any? %>
    <div class="card">
      <div class="card-header bg-danger text-white">
        <%= pluralize(livestock.errors.count, "error") %> prohibited this livestock from being saved:
      </div>
      <div class="card-body">
        <ul>
        <% livestock.errors.full_messages.each do |message| %>
          <li class="card-text"><%= message %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <form>
    <div class="form-group">
      <%= f.label :status %>
      <%= f.collection_select :status_id, Status.order('name ASC').where("user_id = " + (current_user.id.to_s if current_user)), :id, :name, {id: :status}, {class: "form-control"}%>
    </div>
    
    <div class="form-group">
      <%= f.label :stock_type %>
      <%= f.collection_select :stock_type_id, StockType.order('name ASC').where("user_id = " + (current_user.id.to_s if current_user)), :id, :name, {id: :livestock_stock_type}, {class: "form-control"}%>
    </div>
    
    <div class="form-group">
      <%= f.label :species %>
      <%= f.collection_select :species_id, Species.order('name ASC').where("user_id = " + (current_user.id.to_s if current_user)), :id, :name, {id: :livestock_species}, {class: "form-control"} %>
    </div>
    
    <div class="form-group">
      <%= f.label :color %>
      <%= f.collection_select :color_id, Color.order('name ASC').where("user_id = " + (current_user.id.to_s if current_user)), :id, :name, {id: :livestock_color}, {class: "form-control"} %>
    </div>
    
    <div class="form-group">
      <%= f.label :purchase_date %>
      <%= f.text_field :purchase_date, data:{ provide:'datepicker' }, id: :livestock_purchase_date, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, id: :livestock_species, class: "form-control"%>
    </div>
    
    
    <div class="form-group">
      <div class="btn-upload-wrapper">
        <button class="btn-upload">Upload Image</button>
        <%= f.file_field :image, id: :livestock_image, class: "myfile"%>
        <label id="image-label"> </label>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label :tank %>
      <%= f.collection_select :tank_id, Tank.order('name ASC').where("user_id = " + (current_user.id.to_s if current_user)), :id, :name, {id: :livestock_tank}, {class: "form-control"} %>
    </div>
    
    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </form>
  
<% end %>

<%= javascript_tag do %>
  if(document.getElementById("livestock_image")!=null){
    document.getElementById("livestock_image").addEventListener("input", function(){
    var fullPath = this.value;
    var filename = fullPath.replace(/^.*[\\\/]/, '');
    document.getElementById("image-label").innerHTML = filename;
   });
  }
<% end %>