
<%= form_tag url_for(livestocks_multifilter_results_path), method: "get" do %>
    <form>
        <div class="form-group">
            Color: &nbsp
            <%= collection_check_boxes :color, :color_ids, Color.order('name ASC').where("user_id = " + (current_user.id.to_s if current_user)), :id, :name do |b| %>
                <div class="form-check-inline">
                    <%= b.check_box class: "form-check-input" %>
                    <%= b.label class: "form-check-label" %>
                </div>
            <% end %>
        </div>
        
        <div class="form-group">
            <%=label_tag :species,'Species:' %> &nbsp
            <%= collection_check_boxes :species, :species_ids, Species.order('name ASC').where("user_id = " + (current_user.id.to_s if current_user)), :id, :name do |b| %>
                <div class="form-check-inline">
                    <%= b.check_box class: "form-check-input" %>
                    <%= b.label class: "form-check-label" %>
                </div>
            <% end %>
        </div>
        
        <div class="form-group">
            <%=label_tag :stock_type, 'Type:' %> &nbsp
            <%= collection_check_boxes :stock_type, :type_ids, StockType.order('name ASC').where("user_id = " + (current_user.id.to_s if current_user)), :id, :name do |b| %>
                <div class="form-check-inline">
                    <%= b.check_box class: "form-check-input" %>
                    <%= b.label class: "form-check-label" %>
                </div>
            <% end %>
        </div>
        
        <div class="form-group">
            <%=label_tag :status, 'Status: ' %> &nbsp
            <%= collection_check_boxes :status, :status_ids, Status.order('name ASC').where("user_id = " + (current_user.id.to_s if current_user)), :id, :name do |b| %>
                <div class="form-check-inline">
                    <%= b.check_box class: "form-check-input" %>
                    <%= b.label class: "form-check-label" %>
                </div>
            <% end %>
        </div>
        
        <div class="actions">
          <%= submit_tag 'Submit', :class => "btn btn-primary" %>
        </div>
    </form>
<% end %>